body {
	background: #5b5757;
	font: 400 16px/1.4 "adobe-jenson-pro",serif;
	text-rendering: optimizeLegibility;
	color: rgba(255,255,255,.9);
}

.container {
	margin: 4em auto 0;
	max-width: 45%;
}

ol {
	margin: 0;
	padding: 0;
}

li {
	margin-top: .5em;
	padding-left: .25em;
	list-style-type: upper-roman;
	text-indent: -1%;
}

a {
	color: rgba(255,255,255,.9);
}