body {
	background: #5b5757;
	font: 400 16px/1.4 "adobe-jenson-pro", serif;
	text-rendering: optimizeLegibility;
	color: #ecf2f6;
}

.container {
	margin: 5em auto 0;
	max-width: 45%;
}

h1 {
	margin-bottom: 1em;
}

ol {
	margin: 0;
	padding: 0;
}

li {
	margin-top: .5em;
	padding-left: .25em;
	list-style-type: upper-roman;
	text-indent: -1%;
}

a {
	color: #d1dce5;
}